header {
  margin: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-list {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -12px;
}

#image {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  color: #1a2130;
}

#list ul {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  flex-wrap: wrap;
  list-style: none;
  font-weight: 900;
  font-size: larger;
  text-decoration: none;
  margin-right: 50px;
}

#image img {
  /* border: 1px solid black; */
  /* border-radius: 50%; */
  width: 100%;
  height: 100%;
  /* margin: 5px; */
}

#social-media #about {
  font-family: "Playwrite CU";
  color: #def9c4;

  position: absolute;
  top: 2px;
  right: 80px;
  font-size: 12px;
}

#social-media ul {
  background-color: #1a2130;
  list-style: none;
  display: flex;
  color: #def9c4;
}

#social-media ul li {
  margin-left: 2px;
  margin-right: 2px;
}

#social-media {
  margin: 0;
}

#list nav a {
  list-style: none;
  color: #1a2130;
  text-decoration: none;
  position: relative;
}

#list nav a:hover {
  color: #740938;
  text-decoration: none;
  border-bottom: 1px solid #740938;
  /* font-size: 1.5rem; */
  transition: 0.8s;
}

#list nav ul a li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #740938;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

#list nav ul a li::after:hover {
  width: 100%;
}

#list {
  align-items: center;
}
