#author {
  font-family: "Palanquin", sans-serif;
  font-weight: 80;
  font-size: 1rem;
}

#time {
  font-family: "Palanquin", sans-serif;
  font-weight: 80;
  font-size: 1rem;
  /* position: relative;
  top: -29px;
  left: 300px; */
}

#description {
  font-family: "Playpen Sans";
  font-size: 1rem;
  font-style: italic;
  color: gray;
  /* position: relative;
  top: -56px;
  left: 900px; */
}

.contain {
  display: flex;
  justify-content: right;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 4%;
}

#main-title {
  text-decoration: underline;
  font-family: Roboto Condensed;
  font-size: 3rem;
  color: #006769;
}

.introduction img {
  float: left;
  margin-right: 25px;
  /* border: 1px solid black; */
  border-radius: 5px;
}

.introduction div {
  font-family: "Palanquin", sans-serif;
  font-weight: 2rem;
  font-size: 2.2rem;
}

h2 {
  font-size: 100px;
  font-family: Artifika;
  font-weight: 20px;
  font-size: 20px;
  color: #40a578;
}

h3 {
  font-family: "Arya", sans-serif;
  font-weight: 200;
  font-size: 20px;
  font-style: normal;
  color: #9dde8b;
}

.INGREDIENTS ul {
  list-style-type: square;
  font-family: "Arya";
  font-size: 14px;
}

#notes {
  text-align: justify;
}

ul,
ol,
#notes {
  margin-left: 3vw;
  margin-right: 3vw;
}

.INSTRUCTIONS ol,
#notes {
  list-style-type: square;
  font-family: "Arya";
  font-size: 1rem;
}

.video {
  text-align: center;
}

hr {
  height: 20px;
  background-color: darkgray;
}

.INGREDIENTS-01 img {
  width: 20vw;
  height: 47vh;
  float: inline-end;
  position: relative;
  right: 8rem;
  top: 4rem;
  border: 5px solid #40a578;
  border-radius: 50%;
  box-shadow: 3px 6px 5px #006769;
}

.INGREDIENTS-02 img {
  width: 20vw;
  height: 47vh;
  float: inline-end;
  position: relative;
  right: 8rem;
  top: 4rem;
  border: 5px solid #40a578;
  border-radius: 50%;
  box-shadow: 3px 6px 5px #006769;
}

.INGREDIENTS-03 img {
  width: 20vw;
  height: 47vh;
  float: inline-end;
  position: relative;
  right: 1rem;
  bottom: 6rem;
  border: 5px solid #40a578;
  border-radius: 50%;
  box-shadow: 3px 6px 5px #006769;
}

.video iframe {
  border: 1px #006769;
  border-style: double;
}

.video {
  color: #006769;
}
